// Tips
.blockquote-alert {
    @apply my-8 bg-red-100 text-red-800 border-l-4 border-red-500 shadow-lg p-6;
}

    .blockquote-alert > .title {
        @apply mb-4 text-lg;
    }

// Alerts
.alert {
    @apply m-6 p-5 rounded shadow-lg;
}

.alert:before {
    opacity: 0.9;
    content: ' ';
    @apply block float-left mr-3 h-6 w-6
}

    .alert.info {
        @apply bg-blue-400 text-white;
    }

    .alert.info:before {
        background-image: url('../../../assets/img/icons/info.svg');
    }

    .alert.warning {
        @apply bg-yellow-400 text-gray-700;
    }

    .alert.warning:before {
        background-image: url('../../../assets/img/icons/warning.svg');
    }

    .alert.danger {
        @apply bg-red-400 text-white;
    }

    .alert.danger:before {
        background-image: url('../../../assets/img/icons/danger.svg');
    }

    .alert.success {
        @apply bg-green-400 text-white;
    }

    .alert.success:before {
        background-image: url('../../../assets/img/icons/success.svg');
    }


